<div class="container">
    <footer>
      
        <div class="footerdesign">

            <div class="row texto1">
                <p>Sobre nos</p>
            <p>Somos uma loja focada em tenis e chinelos super dentro da moda e buscando sempre por inovaçãp e copetencia no mercado</p>
            </div>
    
            <div class="row texto2">    
                <div class="icon">
                    <p>Entre em contato</p>
                    <div class="iten-icon">
                        <img src="../assets/img/iconewhatz.png" alt=""> 
                        <p> (27) 998459349</p>
                    </div>
                 
                </div>
            </div>
    

        </div>
        
    </footer>
</div>

