
<div class="container home">
  <carousel [isAnimated]="true">
    <slide>
      <img src="./assets/img/slide1.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="./assets/img/slide2.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="./assets/img/slide1.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
  <carousel>
    <slide>
      <div class="carrocelbotton">
        <p> em ate 30% de desconto</p>
      </div>
    </slide>
    <slide>
      <div class="carrocelbotton">
        <p> produtos divercos</p>
      </div>
    </slide>
    <slide>
      <div class="carrocelbotton">
        <p> custo eneficio e entrega para tyodo o brasil</p>
      </div>
    </slide>
  </carousel>

  <div class="container categorias">

    <div class="textcenter">
      Categorias
    </div>

    <div class="row">
        <div class="cat">

            <div class="row intencat">
                <img src="./assets/img/prod1.png" alt="">
                <p style="text-align: center;"> Infantil </p>
              </div>
              <div class="row intencat">
                <img src="./assets/img/prod1.png" alt="">
                <p style="text-align: center;"> Tenis </p>
              </div>
              <div class="row intencat">
                <img src="./assets/img/prod1.png" alt="">
                <p style="text-align: center;"> Chinelo </p>
              </div>

        </div>
    </div>

  </div>

  <div class="container">

    <div class="textcenter ">
      Produtos
    </div>

    <div class="produtos">

      <div class="row">
        <div class="col-sm">
          <div class="row prod">
            <img src="./assets/img/prod1.png" alt="">
            <p> Sapato vans $ 45.65 </p>
          </div>
        </div>
        <div class="col-sm">
          <div class="row prod">
            <img src="./assets/img/prod1.png" alt="">
            <p> Sapato vans $ 45.65 </p>
          </div>
        </div>
        <div class="col-sm">
          <div class="row prod">
            <img src="./assets/img/prod1.png" alt="">
            <p> Sapato vans $ 45.65 </p>
          </div>
        </div>
        <div class="col-sm">
          <div class="row prod">
            <img src="./assets/img/prod1.png" alt="">
            <p> Sapato vans $ 45.65 </p>
          </div>
        </div>
        <div class="col-sm">
          <div class="row prod">
            <img src="./assets/img/prod1.png" alt="">
            <p> Sapato vans $ 45.65 </p>
          </div>
        </div>
        <div class="col-sm">
          <div class="row prod">
            <img src="./assets/img/prod1.png" alt="">
            <p> Sapato vans $ 45.65 </p>
          </div>
        </div>
        <div class="col-sm">
          <div class="row prod">
            <img src="./assets/img/prod1.png" alt="">
            <p> Sapato vans $ 45.65 </p>
          </div>
        </div>
        <div class="col-sm">
          <div class="row prod">
            <img src="./assets/img/prod1.png" alt="">
            <p> Sapato vans $ 45.65 </p>
          </div>
        </div>

        <div class="row divbuttonprod">
          <button class="buttomprod"> ver todos </button>
        </div>

      </div>

    </div>

  </div>
  <div class="container">

    <div class="textcenter ">
        Confira nossas promoções
      </div>

    <div class="row">
        <carousel [isAnimated]="true">
            <slide>
              <img src="./assets/img/slide2.png" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="./assets/img/slide1.png" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="./assets/img/slide2.png" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
    </div>

  </div>

</div>
